* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 40px;
  text-align: center;
}
main .datos form .field {
  margin-bottom: 20px;
}
main .datos form .field .control {
  margin-bottom: 15px;
}
main .datos form .field .control .input {
  width: 90%;
  max-width: 400px;
}
main .datos form .select select {
  width: 200px;
  text-align: center;
}
main .datos form .buttonSubmit {
  margin-top: 15px;
}